@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #aaed4a;
  --red: #f80a25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --green: #aaed4a;
    --red: #f80a25;
  }
}

body {
  font-family: var(--font-space-grotesk);
  background-color: #12021d;
  color: #fff;
}

@layer base {
  input,
  .no-outline {
    @apply outline-none focus:outline-none focus-visible:outline-none;
  }
}

@layer components {
}

@layer utilities {
  .no-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  .trans-scroll-bar::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.1);
    width: 6px;
    border-radius: 6px;
  }

  .trans-scroll-bar::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
  }

  .trans-scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 0.2; */
    border-radius: 6px;
  }

  .tessera-underline {
    @apply underline decoration-green underline-offset-4;
  }
}

img {
  -webkit-user-drag: none; /* Safari 和 Chrome */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* IE/Edge */
  user-drag: none;
}
